work-flow-example/chatbot-that-can-communicate-with-API-endpoints/chatbotmcp-client.json
{
  "name": "01_API_AI",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -544,
        304
      ],
      "id": "1009447d-99db-46f1-b1de-ad8828801e65",
      "name": "When chat message received",
      "webhookId": "54e1f7e8-e55b-4c1c-826d-a2fc36e7d80a"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        592
      ],
      "id": "82b656bb-a902-4257-aba5-12ee59da7cf7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "4TCdlvGgKO5OWBdG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "id": "faa342df-b807-4738-a42a-836f1aaf45bb",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        272,
        0
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "4TCdlvGgKO5OWBdG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "ab247a20-3049-427c-bac7-6e14fa622634",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        528,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 768,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "1d9bfe16-4884-4fee-a2b0-0c97cc92451d",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        624,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "31bfbff1-107b-4f0f-ac45-ad4a14dfc331",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -64,
        -256
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ggz5znCncR842pmk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1wA3Q4r7Mxzn3zYmDrBxFEsLwfL27amVK",
          "mode": "list",
          "cachedResultName": "perizer",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wA3Q4r7Mxzn3zYmDrBxFEsLwfL27amVK"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "e27add59-2c0f-46c0-8eba-06a66795f491",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -528,
        -96
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ggz5znCncR842pmk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1wA3Q4r7Mxzn3zYmDrBxFEsLwfL27amVK",
          "mode": "list",
          "cachedResultName": "perizer",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wA3Q4r7Mxzn3zYmDrBxFEsLwfL27amVK"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "d49a1ca9-b214-482e-b3f6-4474967de0c1",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -512,
        -384
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ggz5znCncR842pmk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "perizer_data",
          "mode": "list",
          "cachedResultName": "perizer_data"
        },
        "embeddingBatchSize": 768,
        "options": {
          "collectionConfig": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        336,
        -288
      ],
      "id": "1e7359ef-63d9-4e5f-b336-291ec64a3bc1",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "TV35rGIOFDWMVQV2",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "f3ebad3f-7eda-4652-bd76-995ce14c9a19",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        32,
        624
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "name": "perizer_data",
        "description": "Retrieve information from any company documents"
      },
      "id": "9b8dfe29-3028-4dc1-b452-cfe1f92e90c7",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        496,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "perizer_data",
          "mode": "list",
          "cachedResultName": "perizer_data"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        416,
        736
      ],
      "id": "e1e6998a-6eaf-4090-bc9e-f1fbb734ea9d",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "TV35rGIOFDWMVQV2",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "bd894d10-6df7-486e-8ccc-a234f3060f8c",
      "name": "Google Gemini Chat Model (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        784,
        688
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "4TCdlvGgKO5OWBdG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "id": "e495c71e-23bf-43ab-b0f7-d57f5d06cfd6",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        448,
        944
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "4TCdlvGgKO5OWBdG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful AI assistant. Follow these steps to handle user requests:\n    Check the user message in perizer_data.\n        If a match is found, extract the method (GET, POST, or PUT) and the API path.\n    Get the Authorization Token:\n        Go to the MCP server.\n        Use the Redis node to get the token using {{ $json.sessionId }}.\n        Add the token to the Authorization header (e.g., Authorization: Bearer <token>).\n    Make the API Call:\n        Base URL: https://api.tmp.computesphere.com/api/v1\n        Depending on the method:\n            GET → Use perizer_data_curl_get\n            POST → Use perizer_data_curl_post\n            PUT → Use perizer_data_curl_put\n        Include required path parameters, query parameters, or JSON body based on the documentation.\n    If no relevant data is found in perizer_data:\n        Respond: \"I cannot find the answer in the available resources.\""
        }
      },
      "id": "775f1cf0-3207-4033-9c11-5c3a8af548f3",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -144,
        304
      ],
      "typeVersion": 1.7,
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n.do.umeshkhatiwada.com.np/mcp/1134d801-7ee5-4301-9311-2287dc0a17ab"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        288,
        608
      ],
      "id": "29773e85-606a-4c0e-a122-22c01e31b6e6",
      "name": "MCP Client"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model (retrieval)": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ed92b77-50f2-4dd0-a60e-090a5a8e8838",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf1548f4db5eddd01db2ff6e01ca65a010d75e058d9a7b5b8bc8fc21acf19c58"
  },
  "id": "RxWiKMpl43QL4m1C",
  "tags": []
}