work-flow-example/s3-mcp-server/s3-mcp-client.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        112
      ],
      "id": "1df1e1f7-ba41-4479-9ff8-a0b3e4f0abfb",
      "name": "When chat message received",
      "webhookId": "54e1f7e8-e55b-4c1c-826d-a2fc36e7d80a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        400
      ],
      "id": "9ef65311-14ed-4e55-bf2a-9aa8eb1837bc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pskWiNnBpDmH0qsJ",
          "name": "Google Gemini(PaLM) Api account rajiv"
        }
      }
    },
    {
      "parameters": {},
      "id": "5c795598-c78b-4fae-9732-fb520463e8a7",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        176,
        432
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=---\nYou have access to the following MCP server tools to manage S3 buckets:\n1. **Create\\_S3\\_Bucket**\n   * Use this to create a new S3 bucket.\n    * BucketName:User requested Name\n   *Region: User requested Name\n2. **Enable\\_Versioning**\n   * Enable versioning on an existing bucket.\n   * Provide 'bucket_name' and status ('Enabled' or 'Suspended').\n3. **List\\_S3**\n   * List all existing S3 buckets or objects within a bucket.\n4. **Delete\\_S3\\_Bucket**\n   * Delete an existing S3 bucket.\n5. **Delete\\_All\\_Object\\_Versions**\n   * Delete all object versions inside a bucket (useful before deleting versioned buckets).\n---\n**Instructions:**\n* When asked to create a bucket, call **Create\\_S3\\_Bucket** with the bucket name.\n* To enable versioning, call **Enable\\_Versioning** with the bucket name in the URL.\n* To list buckets or objects, use **List\\_S3**.\n* Before deleting a bucket that has versioning enabled, use **Delete\\_All\\_Object\\_Versions** first to remove all versions, then call **Delete\\_S3\\_Bucket**.\n* Confirm each action's success before proceeding to the next step.\n---\n**Example usage:**\n* \"Create a bucket named `my-new-bucket`.\"\n* \"Enable versioning on `my-new-bucket`.\"\n* \"List all buckets.\"\n* \"Delete all object versions from `my-old-bucket` and then delete the bucket.\"\n---\n"
        }
      },
      "id": "b3ccd62f-c5b7-420a-b54e-88288ad614dd",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        0,
        112
      ],
      "typeVersion": 1.7,
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n.do.umeshkhatiwada.com.np/mcp/43262dd3-6879-4019-b6f6-a57820daca97",
        "serverTransport": "httpStreamable"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        432,
        416
      ],
      "id": "a74df9e7-e035-471c-8721-5d5b8917ccd3",
      "name": "MCP Client"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "cf1548f4db5eddd01db2ff6e01ca65a010d75e058d9a7b5b8bc8fc21acf19c58"
  }
}